<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.OSPSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OSPS;Persist Security Info=True;User ID=sa;Password=pass123;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.OSPSConnectionString1"
            connectionString="Data Source=SONGZS2;Initial Catalog=OSPS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.OSPSConnectionString2"
            connectionString="Data Source=01777FDAD3474C3;Initial Catalog=OSPS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.HXOSPSConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=HXOSPS;Persist Security Info=True;User ID=root"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.HXQueueConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=HXQueue;Persist Security Info=True;User ID=root"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.HXPDOSPSConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=HXPDOSPS;Persist Security Info=True;User ID=root"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.HXQueueConnectionString1"
            connectionString="Data Source=8F2F0C091E88454;Initial Catalog=HXQueue;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.ABQueueConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=ABQueue;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.ABPDOSPSConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=ABPDOSPS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.ABPDOSPSConnectionString1"
            connectionString="Data Source=10.80.176.222;Initial Catalog=ABPDOSPS;Persist Security Info=True;User ID=sa;Password=Password123"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.LZPDOSPSConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=LZPDOSPS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.LZPDOSPSConnectionString1"
            connectionString="Data Source=10.81.36.32;Initial Catalog=LZPDOSPS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.ZHOSPSConnectionString"
            connectionString="Data Source=YYX\MSSQLSERVER_R2;Initial Catalog=ZHOSPS;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.LZOSPSConnectionString"
            connectionString="Data Source=YYX\MSSQLSERVER_R2;Initial Catalog=LZOSPS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OSPS.AppFramework.DBModule.Properties.Settings.ZHOSPSConnectionString1"
            connectionString="Data Source=YYX\MSSQLSERVER_R2;Initial Catalog=ZHOSPS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>