<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MainFormParam" type="System.Configuration.NameValueSectionHandler" />
    <section name="CaremaVideo"   type="System.Configuration.NameValueSectionHandler" />
    <section name="CreateCard"   type="System.Configuration.NameValueSectionHandler" />
    <section name="LoadMeter"    type="System.Configuration.NameValueSectionHandler" />
    <section name="LEDScreen"    type="System.Configuration.NameValueSectionHandler" />
    <section name="DispTerminal" type="System.Configuration.NameValueSectionHandler" />
    <section name="GetMoney"     type="System.Configuration.NameValueSectionHandler" />
    <section name="OrderHistory" type="System.Configuration.NameValueSectionHandler" />
    <section name="ICCardParam"  type="System.Configuration.NameValueSectionHandler" />
    <section name="PrintOrder"   type="System.Configuration.NameValueSectionHandler" />
    <section name="SAPInterface" type="System.Configuration.NameValueSectionHandler" />
    <section name="TJInterface" type="System.Configuration.NameValueSectionHandler" />
    <section name="QueueDBConnection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MainFormParam>
    <!--查看原发地磅数据图片的地址-->
    <add key ="UploadFileURL" value ="http://10.81.36.32" />
    <!--上传图片文件到服务器的URL-->
    <add key="UploadImageFileURL" value="http://10.81.36.32:8080/UploadFile.aspx" />
    <!--下载服务器图片文件的URL-->
    <add key="DownloadImageFileURL" value="http://10.81.36.32:8080" />
    <!--是否填充帐号-->
    <add key ="InitUser" value ="true" />
    <!--显示哪一组的帐号-->
    <add key ="UserGroupID" value ="38" />
    <!--弹出窗口的显示时间，秒-->
    <add key ="ShowPopupWindowTime" value ="10" />
  </MainFormParam>
  <CaremaVideo>
    <!--摄像机个数-->
    <add key ="CaremaNumber" value ="2"/>
    <add key ="CaremaVideoIP1" value ="10.81.63.80"/>
    <add key ="CaremaVideoIP2" value ="10.81.63.81"/>
    <add key ="CaremaVideoIP3" value ="10.81.63.78"/>
    <add key ="CaremaVideoIP4" value ="10.81.63.13"/>
    <!--车牌识别仪-->
    <add key ="CaptrueInIP" value ="10.81.63.80"/>
    <add key ="CaptrueOutIP" value ="10.81.63.81"/>
    <!--图片保存位置-->
    <add key ="SavePictureFolder" value ="E:\\Picture\\"/>
    <!--称前出现报警时，自动显示监控画面-->
    <add key ="FrontAutoDisplay" value ="false" />
    <!--称后出现报警时，自动显示监控画面-->
    <add key ="RearAutoDisplay" value ="false" />
    <!--账号-->
    <add key ="Account" value ="admin" />
    <!--密码-->
    <add key ="Password" value ="admin12345" />
  </CaremaVideo>
  <CreateCard>
    <!--保存时是否显示收费，市场部为false，中门卫为true-->
    <add key="NeedPayMoney" value="false" />
    <!--收费打印凭条的份数-->
    <add key ="PrintPayMoneyCopy" value ="2"/>
    <!--是否使用高拍仪-->
    <add key ="UseEloamDevice" value ="false"/>
    <!--默认的发货公司名称-->
    <add key ="DefaultSendCompany" value =""/>
    <!--是否检查RFID卡号-->
    <add key ="CheckRFIDCard" value ="false"/>
    <!--是否使用排队叫号系统-->
    <add key ="UseAutoDispatch" value ="false"/>
    <!--是否使用超大车辆入场口判断-->
    <add key ="UseWeightVerifyEntryPort" value ="false" />
    <!--超大车辆的最小加油量，超过该加油量的车都从东边进车-->
    <add key ="SuperTruckMinWeight" value ="50.0" />
    <!--超大车辆的默认进车口-->
    <add key ="SuperTruckEntryPort" value ="1" />
    <!--身份证的USB端口-->
    <add key ="USBPortNumber" value ="1001" />
    <add key ="ICCardCOMPORT" value ="COM9"/>
    <add key ="EnableCompanyEmpty" value ="true"/>
    <add key ="EnableTrunkEmpty" value ="true"/>
    <add key ="EnableDriverEmpty" value ="true"/>
    <add key ="NeedWriteICCard" value ="true"/>
    <add key ="NeedPrintOrder" value ="true"/>
    <add key ="NeedPrintView" value="true"/>
    <add key ="ICCardIDPrefix" value ="HX100075"/>
    <add key ="PrinterName" value ="pdfFactory Pro"/>
    <!-- 打印票据时的打印纸名称 -->
    <add key ="PrintBillPaperName" value ="三联单据"/>
    <!-- 页面宽度 厘米为单位-->
    <add key ="PrintPageWidth" value ="22.0"/>
    <!-- 页面高度 厘米为单位-->
    <add key ="PrintPageHeight" value ="7.0"/>
    <!-- 本机编号-->
    <add key ="LocalMachineID" value ="A"/>
    <!-- 列表框中最大运行的数据量-->
    <add key ="MaxComboItemsCount" value="1000"/>
  </CreateCard>
  <LoadMeter>
    <!--地磅可以过的业务类型，0-全部，1-装车，2-卸车-->
    <add key="OrderType" value="0" />
    <!--地磅号-->
    <add key ="OMeterID" value ="2"/>
    <!--字体大小，地磅设置为15，销售设置为9-->
    <add key="MainUIFontSize" value="10" />
    <!--是否使用排队叫号系统-->
    <add key ="UseAutoDispatch" value ="false"/>
    <!--呼叫区中车辆的报警数，超过该值后给出提示-->
    <add key ="MaxTruckNumToWarnning" value ="5"/>
    <!--本地磅的进入口编号，1-西磅，2-东磅-->
    <add key ="ThisEntryPort" value ="1" />
    <!--检测是否允许车辆进场的时间，秒-->
    <add key ="CheckAllowLoginTime" value ="60" />
    <!--是否显示跳过IC卡的选项-->
    <add key ="ShowSkipICCard" value ="false" />
    <!--读卡器端口-->
    <add key ="ICCardCOMPORT" value ="COM3"/>
    <add key ="OrderFormHeight" value ="930"/>
    <add key ="OrderFormWidth" value ="1150"/>
    <add key ="OnlyShowMyOwnOrder" value ="false"/>
    <!-- 地磅最大允许的重量(公斤） -->
    <add key ="OMeterMaxValue" value ="100000"/>
    <!-- 允许空车和载重后车中的差别，允许空车进入，空车出门-->
    <add key ="AllowEmptyTrunkWeight" value ="-100.0"/>
    <!-- 允许手动读取IC卡 -->
    <add key ="AllowManualReadCard" value ="true"/>
    <!-- 允许修改油单内容 -->
    <add key ="AllowManualEditOrder" value ="true"/>
    <!-- 允许手动修改重量内容 -->
    <add key ="AllowManualInputWeight" value ="true"/>
    <!-- 自动读取地磅数据 -->
    <add key ="AutoReadLoadMeter" value ="true"/>
    <!-- =============打印============= -->
    <!-- 是否打印 -->
    <add key ="NeedPrintOrder" value ="true"/>
    <!-- 打印时是否预览 -->
    <add key ="NeedPrintView" value="true"/>
    <!-- 打印机名称 -->
    <add key ="PrinterName" value =""/>
    <!-- 打印地磅单时的打印纸名称 -->
    <add key ="PrintBillPaperName" value ="地磅单据"/>
    <!-- 页面宽度 厘米为单位-->
    <add key ="PrintPageWidth" value ="22.0"/>
    <!-- 页面高度 厘米为单位-->
    <add key ="PrintPageHeight" value ="7.0"/>
    <!-- =============二次表============= -->
    <!-- 读取地磅时的时间间隔, 如果该值为0，不读地磅数 -->
    <add key ="ReadOMeterTimer" value ="500"/>
    <!--地磅类型：0-托利多(02-0D)，1-青岛公平/柯力(2E-3D)，2-上海耀华(02-03)，3-金钟(0A-0D)-->
    <add key="LoadOMeterType" value="3" />
    <!-- 地磅串口 -->
    <add key ="OMeterPort" value ="COM1"/>
    <!-- 地磅串口波特率 -->
    <add key ="OMeterBaudrate" value ="2400"/>
    <!-- 地磅串口数据位 -->
    <add key ="OMeterDataBits" value ="7"/>
    <!-- 地磅串口停止位 -->
    <add key ="OMeterStopBits" value ="1"/>
    <!-- 地磅串口奇偶校验 0：无；1：奇；2：偶-->
    <add key ="OMeterDataParity" value ="2"/>
    <!-- 地磅串口是否有校验 -->
    <add key ="OMeterVerify" value ="false"/>
    <!-- 地磅串口超时时间 -->
    <add key ="OMeterTimeout" value ="1000"/>
    <!-- =============红外对射============= -->
    <!-- 是否使用红外对射 -->
    <add key ="UseAVS" value ="true"/>
    <!-- 读取红外对射的时间间隔，如果该值为0，不读红外对射，默认1000-->
    <add key ="ReadAVSTimer" value ="1000"/>
    <!--红外对射的报警点输出，true-常闭点输出，false-常开点输出，青岛安邦成品为常闭，原料为常开-->
    <add key="InfraRedNormalColoseOutput" value="false" />
    <!-- AVS系统端口 -->
    <add key ="AVSCOMPort" value ="COM3"/>
    <!-- AVS系统波特率 -->
    <add key ="AVSBaudrate" value ="9600"/>
    <!-- AVS系统地址 -->
    <add key ="AVSAddress" value ="1"/>
    <!--称前红外对射的DI点，0-6-->
    <add key ="FrontInfraRedIndex" value ="0" />
    <!--称后红外对射的DI点，0-6-->
    <add key ="EndInfraRedIndex" value ="1" />
    <!--称左红外对射的DI点，0-6-->
    <add key ="LeftInfraRedIndex" value ="2" />
    <!--称右红外对射的DI点，0-6-->
    <add key ="RightInfraRedIndex" value ="3" />
    <!-- =============视频监控============= -->
    <!-- 是否使用摄像头 -->
    <add key ="UseCamera" value ="false"/>
    <!-- 是否抓拍车牌 -->
    <add key ="UseSnapTruckNo" value ="false"/>
    <!-- 视频监控程序的位置 -->
    <add key ="VideoProgram" value ="D:\\OSPS\\VideoTest.exe"/>
    <!-- 视频文件保存的目录 -->
    <add key ="VideoSaveFolder" value ="C:\\Temp"/>
  </LoadMeter>
  <LEDScreen>
    <add key ="LEDAddress" value ="10.81.36.9"/>
    <add key ="DevAddress" value ="1"/>
    <add key ="LocalPort" value ="9999"/>
    <add key ="RemotePort" value ="6666"/>
    <add key ="ReportPort" value ="8888"/>
    <add key ="LEDFontName" value ="宋体"/>
    <add key ="LEDFontSize" value ="12"/>
    <!--每个页面停留时间，秒-->
    <add key ="EachPageDelayTime" value ="300"/>
    <!--LED字体高度，这个要和字体匹配-->
    <add key ="FontHeight" value ="16"/>
  </LEDScreen>
  <DispTerminal>
    <!-- 外接显示屏端口 -->
    <add key ="Portname" value ="COM4"/>
    <!-- 外接显示屏波特率 -->
    <add key ="Baudrate" value ="9600"/>
    <!-- 外接显示屏地址 -->
    <add key ="Address" value ="0"/>
  </DispTerminal>
  <GetMoney>
    <add key ="MustSaveByReadICCard" value ="false" />
    <!-- 打印机名称 -->
    <add key ="PrinterName" value ="pdfFactory Pro"/>
    <!-- 打印票据时的打印纸名称 -->
    <add key ="PrintBillPaperName" value ="大五联单据"/>
    <!-- 页面宽度 厘米为单位-->
    <add key ="PrintPageWidth" value ="22.0"/>
    <!-- 页面高度 厘米为单位-->
    <add key ="PrintPageHeight" value ="7.0"/>
    <add key ="ICCardCOMPORT" value ="COM6"/>
    <add key ="NeedPrintView" value="true"/>
    <add key ="NeedPrintOrder" value ="false"/>
    <!-- 允许手动读取IC卡 -->
    <add key ="AllowManualReadCard" value ="true"/>
    <!-- 允许修改油单内容 -->
    <add key ="AllowManualEditOrder" value ="true"/>
  </GetMoney>
  <OrderHistory>
    <!--油品名称的标志，F_OILName或者F_InvoiceOIL-->
    <add key ="OILNameFlag" value ="F_OILName" />
    <!--字体大小，地磅设置为15，销售设置为9-->
    <add key ="MainUIFontSize" value ="9" />
    <!-- 打印票据时的打印纸名称 -->
    <add key ="PrintBillPaperName" value ="地磅单据"/>
    <!-- 页面宽度 厘米为单位-->
    <add key ="PrintPageWidth" value ="22.0"/>
    <!-- 页面高度 厘米为单位-->
    <add key ="PrintPageHeight" value ="7.0"/>
    <add key ="ICCardCOMPORT" value ="COM6"/>
    <add key ="NeedPrintView" value ="true"/>
    <add key ="NeedPrintOrder" value ="true"/>
    <!-- 允许修改油单内容 -->
    <add key ="AllowManualEditOrder" value ="true"/>
    <add key ="PrinterName" value ="pdfFactory Pro"/>
    <!-- 写入转帐信息时的文字内容 -->
    <add key ="OrderInfoText" value ="已换票"/>
    <!-- 读取报表数据库时需要多次读取 -->
    <add key ="EnableMultipleReadDB" value ="true"/>
    <!-- 读取报表数据库时读取次数 -->
    <add key ="MultipleReadDBTimes" value ="1"/>
    <!-- 读取报表数据库时间隔时间 -->
    <add key ="MultipleReadDBGaps" value ="5000"/>
    <!-- 打印报表时的打印纸名称 -->
    <add key ="PrintReportPaperName" value ="报表单据"/>
    <!-- 打印时允许的公司名称的长度 -->
    <add key ="MaxTextFieldLength" value ="100"/>
    <!-- 详细报表允许打印的公司名称的长度 -->
    <add key ="DetailTextFieldLength" value ="6"/>
    <!-- 分类报表允许打印的公司名称的长度 -->
    <add key ="TypeTextFieldLength" value ="16"/>
    <!-- 装车报表的列数 -->
    <add key ="TrunkReport_Column" value ="9"/>
    <!-- 允许修改的管理员ID -->
    <add key ="UserRoleID_EditRecord" value ="10"/>
    <!-- 允许作废油单的的管理员ID -->
    <add key ="UserRoleID_DiscardOrder" value ="100"/>
    <!-- 默认情况下，只列出最近24小时的油单，=0:列出所有油单 -->
    <add key ="DefaultHistoryHour" value ="24"/>
    <!-- 生成销售报表时用的时间段 -->
    <add key ="SalesReportTime" value ="F_LogoutTime"/>
    <!-- 生成销售报表时排序方式 -->
    <add key ="SalesReportSortBy" value ="Order By F_LogoutTime ASC"/>
    <!-- 是否加上已经过磅的车辆记录 -->
    <add key ="AddedOrderRecord" value ="true"/>
  </OrderHistory>
  <ICCardParam>
    <add key ="OpenClosePortFreq" value ="1"/>
    <add key ="ICCardAddress" value ="1"/>
    <add key ="ICCardTimeout" value ="100"/>
    <add key ="ICCardBaudRate" value ="9600"/>
    <!-- 是否验证IC卡的有效性 -->
    <add key ="CheckICCardValidate" value ="true"/>
    <!-- 是否验证写入IC卡中的数据 -->
    <add key ="VerifyICCardData" value ="true"/>
  </ICCardParam>
  <PrintOrder>
    <add key ="FontName" value ="宋体"/>
    <add key ="FontSize" value ="10"/>
  </PrintOrder>
  <SAPInterface>
    <!--测试服务器IP地址：10.80.134.150\SQL2008-->
    <add key ="DBIPAddress" value ="127.0.0.1" />
    <!--数据库名称：RelationalDataCenter-->
    <add key ="DBDatabase"  value ="LZPDOSPS" />
    <add key ="DBUsername" value ="sa" />
    <!--密码：gxb_2012 -->
    <add key ="DBPassword" value ="WR5X4R4LIKURILU13X397RY6YK3XI5I6" />
    <!--SAP下发数据的表名-->
    <add key ="OrderTable" value ="ZVLOAD_DELIVERY_INFO" />
    <!--SAP上载数据的表名-->
    <add key ="CompleteOrderTable" value ="ZVLOAD_SHIPMENT_INFO" />
    <!--手动输入和自动输入切换的方法：0-手动切换，1-自动切换-->
    <!--手动切换时，是靠EnableManualInput的值进行判断-->
    <!--自动切换时，是靠网络状况进行判断：断网时允许修改，联网时不允许修改-->
    <add key ="SwitchManualMethod" value ="0" />
    <!--是否使用SAP接口-->
    <add key ="UserSAPInterface" value ="true" />
    <!--允许手动输入-->
    <add key ="EnableManualInput" value ="true" />
    <!--使用测试模式-->
    <add key ="UseTestingMode" value ="true" />
    <!--中间数据库Timeout时间-->
    <add key ="SAPConnTimeout" value ="10" />
    <!--装车数据库Timeout时间-->
    <add key ="ZFConnTimeout" value ="15" />
    <!--检查数据库网络状况的时间间隔，秒-->
    <add key ="CheckDBConnGap" value ="15" />
    <!--SAP允许的IC卡号长度-->
    <add key ="SAPAllowICCardNoLength" value ="5" />
    <!--检测SAP数据库连接的时间-->
    <add key ="CheckSAPConnTimeout" value ="8" />
    <!--中间数据库上传到PI成功后的标志-->
    <add key ="UploadPISuccessFlag" value ="OK" />
    <!--中间数据库上传到PI错误后的标志-->
    <add key ="UploadPIFailedFlag" value ="错误" />
    <!--中间数据库上传到PI，继续上传的标志-->
    <add key ="ContinueUploadToPI" value ="错误" />
    <!--中间数据库上传到PI，不再上传的标志-->
    <add key ="DontUploadToPI" value ="OK" />
    <!--中间数据库上传到PI，未上传打印内容-->
    <add key ="PrintUnLoadPIText" value ="错误原因：无法上传！" />
  </SAPInterface>
  <TJInterface>
    <!--太极webservice的URL地址，测试：10.81.36.44:8080；正式：10.81.36.34:8080-->
    <add key ="TJURL" value ="http://10.81.36.34:8080/slm/app/jobPlan" />
    <!--作业计划添加 (请求:URL+/add,POST请求,UTF-8编码)-->
    <add key ="TJJobPlan"  value ="add" />
    <!--获取基础信息(请求:URL+/getBasicData,POST请求,UTF-8编码)-->
    <add key ="TJCompany"  value ="getBasicCompanyData" />
    <add key ="TJTank"  value ="getBasicTankData" />
    <add key ="TJShip"  value ="getBasicShipData" />
    <add key ="TJOil"  value ="getBasicOilData" />
  </TJInterface>
  
  <QueueDBConnection>
    <!--测试服务器IP地址：10.80.144.100\SQL2008-->
    <add key ="DBIPAddress" value ="127.0.0.1" />
    <!--数据库名称：RelationalDataCenter-->
    <add key ="DBDatabase"  value ="ABQueue" />
    <add key ="DBUsername" value ="sa" />
    <!--密码：gxb_2012 -->
    <add key ="DBPassword" value ="WR5X4R4LIKURILU13X397RY6YK3XI5I6" />
    <add key ="DBConnTimeout" value ="15" />
  </QueueDBConnection>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <!--127.0.0.1  WR5X4R4LIKURILU13X397RY6YK3XI5I6        10.81.36.32  494X553KWRW5WQYX757W39Y6YK3XI5I6 -->
    <add name ="DBConntection" connectionString="Data Source=(Local);Initial Catalog=ZHOSPS;User ID=sa;Password=1234;Connection Timeout=15"/>
    <add name ="DBPassword" connectionString="WR5X4R4LIKURILU13X397RY6YK3XI5I6"/>
    <add name ="SAPDBConntection" connectionString="Data Source={0};Initial Catalog={1};User ID={2};Password={3};Connection Timeout={4}"/>
    <add name ="QueueDBConn" connectionString="Data Source={0};Initial Catalog={1};User ID={2};Password={3};Connection Timeout={4}"/>
  </connectionStrings>
  <appSettings>
    <add key ="ServerIP" value="127.0.0.1"/>
  </appSettings>
</configuration>